:host {
  display: block;
  padding-bottom: 64px;
}
header {
  display: flex;
  margin-top: -64px;
  margin-bottom: 64px;
  padding-top: 64px;
  background-color: #1d1d1d;
}
.header-container {
  min-height: 264px;
  margin-top: 64px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}
.cover {
  width: 264px;
  margin-right: 64px;
  border-radius: 4px;
  overflow: hidden;
}
.info {
  display: flex;
  align-items: center;
}
.metadata p {
  color: #aaa;
}
.metadata p a {
  text-decoration: none;
}
.metadata p a:hover {
  text-decoration: underline;
}
.stats {
  margin-top: 4px;
}
.description {
  font-size: 14px;
  margin-top: 16px;
}
app-title {
  margin-bottom: 16px;
}
.actions {
  margin-top: 32px;
}
@media (min-width: 936px) {
  .header-container {
    padding-left: 312px;
  }
  .cover {
    position: absolute;
    top: 0;
    left: 0;
  }
}
button {
  padding: 0 32px;
  border-radius: 2px;
  text-transform: uppercase;
}
button span {
  display: inline-block;
  line-height: 24px;
}
button app-icon {
  margin-right: 8px;
}
.actions button:not(:last-of-type) {
  margin-right: 16px;
}
.mat-stroked-button {
  border-color: rgb(170, 170, 170);
}
